<%- include('../partials/header.ejs') %>

  <p>Weet je zeker dat je de account van <b>gebruiker</b> wilt blokkeren?</p>
  <a href="/users">terug</a>
  <a href="/users/blocked">doorgaan</a>

<%- include('../partials/footer.ejs') %>
