<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <p>Weet je zeker dat je de account van <b>gebruiker</b> wilt blokkeren?</p>
  <a href="chat.html">terug</a>
  <a href="chat.html">doorgaan</a>

  <nav>
    <ul>
      <a href="dashboard.html">
        <li>dashboard</li>
      </a>
      <a href="gebruikers.html">
        <li>gebruikers</li>
      </a>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="mijn_profiel.html">
        <li>me</li>
      </a>
    </ul>
  </nav>
</body>
</html>
