<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
  <ul>
    <a href="chat.html">
      <li><b>chat</b></li>
    </a>
    <a href="contacten.html">
      <li>contacten</li>
    </a>
  </ul>

  <main>
    <section>
      <a href="">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Jackson</h3>
        <span>13:54</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="chat_menu.html">menu</a>
    </section>

    <section>
      <a href="">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Ricky</h3>
        <span>2 dagen geleden</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="chat_menu.html">menu</a>
    </section>

    <section>
      <a href="">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Sammy</h3>
        <span>1+ maand geleden</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="chat_menu.html">menu</a>
    </section>
  </main>

  <ul>
    <a href="contacten.html">
      <li>toevoegen aan contacten</li>
    </a>
    <a href="profiel.html">
      <li>bekijk profiel</li>
    </a>
    <a href="chat_delete.html">
      <li>chat verwijderen</li>
    </a>
    <a href="blokkeren.html">
      <li>blokkeren</li>
    </a>
  </ul>

  <nav>
    <ul>
      <a href="dashboard.html">
        <li>dashboard</li>
      </a>
      <a href="gebruikers.html">
        <li>gebruikers</li>
      </a>
      <a href="chat.html">
        <li><b>chat</b></li>
      </a>
      <a href="mijn_profiel.html">
        <li>me</li>
      </a>
    </ul>
  </nav>
</body>
</html>
