<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <ul>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="contacten.html">
        <li><b>contacten</b></li>
      </a>
    </ul>
    <section>
      <a href="gesprek.html">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Sammy</h3>
      </a>
      <a href="contacten_menu.html">menu</a>

    </section>

    <section>
      <a href="gesprek.html">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Ricky</h3>
      </a>
      <a href="contacten_menu.html">menu</a>

    </section>
  </main>

  <ul>
    <a href="gesprek.html">
      <li>bericht sturen</li>
    </a>
    <a href="profiel.html">
      <li>bekijk profiel</li>
    </a>
    <a href="chat_delete.html">
      <li>contact verwijderen</li>
    </a>
    <a href="blokkeren.html">
      <li>blokkeren</li>
    </a>
  </ul>

  <nav>
    <ul>
      <a href="dashboard.html">
        <li>dashboard</li>
      </a>
      <a href="gebruikers.html">
        <li>gebruikers</li>
      </a>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="mijn_profiel.html">
        <li>me</li>
      </a>
    </ul>
  </nav>
</body>
</html>
