<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <ul>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="contacten.html">
        <li><b>contacten</b></li>
      </a>
    </ul>
    <section>
      <a href="gesprek.html">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Sammy</h3>
      </a>
      <a href="contacten_menu.html">menu</a>

    </section>

    <section>
      <a href="gesprek.html">
        <img src="http://lorempixel.com/150/150/people/" alt="">
        <h3>Ricky</h3>
      </a>
      <a href="contacten_menu.html">menu</a>

    </section>
  </main>

  <nav>
    <ul>
      <a href="meet.html">
        <li>meet</li>
      </a>
      <a href="riddle.html">
        <li>riddle</li>
      </a>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="mijn_profiel.html">
        <li>me</li>
      </a>
    </ul>
  </nav>
</body>
</html>
