<%- include('../partials/header.ejs') %>

  <a href="users_online">
    <section>
      <h3>Online gebruikers</h3>
      <h1>31</h1>
    </section>
  </a>
  <a href="reported">
    <section>
      <h3>Gemelde Gebruikers</h3>
      <h1>2</h1>
    </section>
  </a>
  <!-- <a href=""> -->
    <section>
      <h3>Nieuwe gebruikers</h3>
      <h1>5</h1>
    </section>
  <!-- </a> -->
  <a href="chat_a">
    <section>
      <h3>Nieuwe berichten</h3>
      <h1>2</h1>
    </section>
  </a>

<%- include('../partials/footer.ejs') %>
