<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>
    <a href="chat.html">terug</a>
    <h3>Sammy</h3>
  </header>

  <ul>
    <li>jij zegt eens wat</li>
    <li>zij zegt ook wat terug</li>
    <li>je zegt nog eens wat</li>
    <li>En nu zeg je hallo ken je dat</li>
  </ul>

  <form action="">
    <input type="text" placeholder="type hier wat in om wat te zeggen">
    <input type="submit">
  </form>
</body>
</html>
