<%- include('../partials/header.ejs') %>

<header>
  <a href="dashboard">back</a>
  <h2>reported users</h2>
</header>

<table>
  <thead>
    <tr>
      <th>naam</th>
      <th>datum</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Menno</td>
      <td>12-02-17</td>
      <td>chatman@msn.nl</td>
      <td><a href="reported">collapse</a></td>
    </tr>
    <tr>
      <td>Brenna</td>
      <td>10-01-17</td>
      <td>chatman@msn.nl</td>
      <td><a href="reported">collapse</a></td>
    </tr>
    <tr>
      <td>Roy</td>
      <td>26-12-16</td>
      <td>chatman@msn.nl</td>
      <td><a href="reported">collapse</a></td>
    <tr>
      <th>gemeld door: Jessica</th>
    </tr>
    <tr>
      <th>reden</th>
      <td>
        <p>Vanaf het begin was hij me al aan het uitschelden
          zonder enige aanleiding. Ik weet niet waarom hij dat doet, maar
           hij wilt er maar niet mee stoppen</p>
      </td>
    </tr>
  </tbody>
</table>

<%- include('../partials/header.ejs') %>
