<%- include('../partials/header.ejs') %>

  <nav>
    <ul>
      <li>
        <a href="/users">all</a>
      </li>
      <li>
        <a href="/users/online">online</a>
      </li>
      <li>
        <a href="/users/blocked"><b>blocked</b></a>
      </li>
    </ul>
  </nav>

  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>last login</th>
        <th></th>
      </tr>
    </thead>

    <!-- if banned true change code
      <% results.forEach(function(results) { %>
        <tr>
          <td> <%= results.name %> </td>
          <td> <%= results.lastActive %> </td>
          <td><a href="gebruikers_menu.html">options</a></td>
        </tr>
      <% }) %>
    -->

    <tbody>
      <tr>
        <td>Roy</td>
        <td>30+ dagen</td>
        <td><a href="menu">options</a></td>
      </tr>
    </tbody>
  </table>


<%- include('../partials/footer.ejs') %>
