<%- include('../partials/header.ejs') %>

  <nav>
    <ul>
      <li>
        <a href="/users"><b>all</b></a>
      </li>
      <li>
        <a href="/users/online">online</a>
      </li>
      <li>
        <a href="/users/banned">banned</a>
      </li>
    </ul>
  </nav>

  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>last login</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% results.forEach(function(results) { %>
        <tr>
          <td> <%= results.name %> </td>
          <td> <%= results.lastActive %> </td>
          <td><a href="gebruikers_menu.html">options</a></td>
        </tr>
      <% }) %>

      <%# <tr>
        <td>Jaap</td>
        <td>2 days ago</td>
        <td><a href="/users/menu">menu</a></td>
      </tr>
      <tr>
        <td>Menno</td>
        <td>online</td>
        <td><a href="/users/menu">menu</a></td>
      </tr>
      <tr>
        <td>Roy</td>
        <td>30+ days ago</td>
        <td><a href="/users/menu">menu</a></td>
      </tr>%>
    </tbody>
  </table>

<%- include('../partials/footer.ejs') %>
