<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gebruikers</title>
</head>
<body>
  <header>
    <ul>
      <a href="gebruikers.html">
        <li>alle</li>
      </a>
      <a href="gebruikers_online.html">
        <li><b>online</b></li>
      </a>
      <a href="gebruikers_gebl.html">
        <li>geblokkeerd</li>
      </a>
    </ul>
  </header>

  <table>
    <thead>
      <tr>
        <th>naam</th>
        <th>laatst ingelogd</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Menno</td>
        <td>nu</td>
        <td><a href="gebruikers_menu.html">options</a></td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul>
      <a href="dashboard.html">
        <li>dashboard</li>
      </a>
      <a href="gebruikers.html">
        <li><b>gebruikers</b></li>
      </a>
      <a href="chat.html">
        <li>chat</li>
      </a>
      <a href="mijn_profiel.html">
        <li>me</li>
      </a>
    </ul>
  </nav>
</body>
</html>
