<nav>

  <% if (loggedIn && admin) { %>
    <ul>
      <a href="/dashboard">
        <li>dashboard</li>
      </a>
      <a href="/users">
        <li>users</li>
      </a>
      <a href="/mychats">
        <li>chat</li>
      </a>
      <a href="/my_profile">
        <li>me</li>
      </a>
    </ul>

  <% } else if (loggedIn) { %>
    <ul>
      <a href="/meet">
        <li>meet</li>
      </a>
      <a href="/riddle">
        <li>riddle</li>
      </a>
      <a href="/mychats">
        <li>chat</li>
      </a>
      <a href="/my_profile">
        <li>me</li>
      </a>
    </ul>
  <% } %>

</nav>


  </body>
</html>
