<nav>

  <% if (loggedIn && admin) { %>
    <ul>
      <li>
        <a href="/dashboard">dashboard</a>
      </li>
      <li>
        <a href="/users">users</a>
      </li>
      <li>
        <a href="/mychats">chat</a>
      </li>
      <li>
        <a href="/my_profile">me</a>
      </li>
    </ul>

  <% } else if (loggedIn) { %>
    <ul>
      <li>
        <a href="/meet">meet</a>
      </li>
      <li>
        <a href="/riddle">riddle</a>
      </li>
      <li>
        <a href="/mychats">chat</a>
      </li>
      <li>
        <a href="/my_profile">me</a>
      </li>
    </ul>
  <% } %>

</nav>


  </body>
</html>
