<%- include('./partials/header.ejs') %>

  <h1>riddleschip</h1>


  <% if (loggedIn && admin) { %>
    <i> admin</i>

  <% } else if (loggedIn) { %>
    <i> logged in   </i>

  <% } else { %>
    <i> Not logged in   </i>
    <a href="login"><button type="button" name="button">login</button></a>
    <a href="register"><button type="button" name="button">register</button></a>

  <% } %>


<p>This is a online dating platform where you get to know each other while solving a riddle game.
</p>
<p>
  The feeling of the old chance meeting and getting to know each other 
</p>

<%# test place below for easier typing %>

<form class="" action="index.html" >
  <%# method="post"%>
</form>



<%- include('./partials/footer.ejs') %>
