<%- include('./partials/header.ejs') %>


    <form method="post" enctype="multipart/form-data">
      <!-- first fieldset basic info -->
      <fieldset>
        <legend>Register</legend>

        <p>I am a</p>
        <label for="amMale">male</label>
        <input id=amMale type="radio" name="gender" value="male">
        <label for="amFemale">female</label>
        <input id=amFemale type="radio" name="gender" value="female">

        <p>and am looking for a</p>
        <label for="lookMale">male</label>
        <input id=lookMale type="checkbox" name="lfor" value="male">
        <label for="lookFemale">female</label>
        <input id=lookFemale type="checkbox" name="lfor" value="female">
        <label for="lookBoth">both</label>
        <input id=lookBoth type="checkbox" name="lfor" value="both">

        <p>between: x - x </p>
        <label for="">min(18)</label>
        <input type="number" min="18" max="100" name="minAge">
        <label for="">max(100)</label>
        <input type="number" min="18" max="100" name="maxAge">
        <!-- <input type="range"> -->

        <label for="email">email</label>
        <input id="email" type="email" placeholder="your email" name="email">
        <label for="password">password (min: 6 characters)</label>
        <input id="password" type="password" placeholder="your password" name="password">
        <label for="confirmPassword">confirm password</label>
        <input id="confirmPassword" type="password" placeholder="your password" name="confirmPassword">

      </fieldset>

      <!-- fieldset two profile info -->
      <fieldset>
        <legend>Your profile</legend>

        <label for="name">name</label>
        <input id="name" type="text" placeholder="e.g. Jan Smit" name="name" >
        <label for="dob">date of birth</label>
        <input id="dob" type="date" name="dob">
        <label for="locatie">Locatie (optional)</label>
        <input id="locatie" type="text" placeholder="province" name="location">
        <label for="about">About yourself</label>
        <input id="about" type="text" placeholder="Tell others a bit about yourself" name="about">
        <label for="profilePic">Picture</label>
        <input id="profilePic" type="file" name="profilePic">


      </fieldset>
      <a href="/"><button type="button">back</button></a>
      <input type="submit">
    </form>




<%- include('./partials/footer.ejs') %>
