<%- include('./partials/header.ejs') %>


    <form action="/" method="">
      <!-- first fieldset basic info -->
      <fieldset>
        <legend>Register</legend>

        <p>I am a</p>
        <label for="amMale">male</label>
        <input id=amMale type="radio" name="amMale" >
        <label for="amFemale">female</label>
        <input id=amFemale type="radio" name="amFemale">

        <p>and am looking for a</p>
        <label for="lookMale">male</label>
        <input id=lookMale type="checkbox" name="lookMale">
        <span>en/of</span>
        <label for="lookFemale">female</label>
        <input id=lookFemale type="checkbox" name="lookFemale">

        <p>between: x - x </p>
        <label for="">min(18)</label>
        <input type="number" min="18" max="100" name="minAge">
        <label for="">max(100)</label>
        <input type="number" min="18" max="100" name="maxAge">
        <!-- <input type="range"> -->

        <label for="email">email</label>
        <input id="email" type="email" placeholder="your email" name="email">
        <label for="password">password</label>
        <input id="password" type="password" placeholder="your password" name="password">
        <label for="confirmPassword">confirm password</label>
        <input id="confirmPassword" type="password" placeholder="your password" name="confirmPassword">

      </fieldset>

      <!-- fieldset two profile info -->
      <fieldset>
        <legend>Your profile</legend>

        <label for="naam">name</label>
        <input id="naam" type="text" placeholder="e.g. Jan Smit" name="name" >
        <label for="dob">date of birth (1999 - 12 - 12)</label>
        <input id="dob" type="date" name="dob">
        <label for="locatie">Locatie (optional)</label>
        <input id="locatie" type="text" placeholder="province" name="location">
        <label for="about">About yourself</label>
        <input id="about" type="text" placeholder="Tell others a bit about yourself" name="about">


      </fieldset>
      <input type="submit">
      <a href="/login"><button type="button">back</button></a>
    </form>




<%- include('./partials/footer.ejs') %>
