<%- include('../partials/header.ejs') %>

  <header>
    <h2>Meet people</h2>
    <a href="meet_random"><button type="button" name="button">random</button></a>
  </header>

  <ul>
    <a href="profile">
      <li>
        <p>Samantha</p>
        <p>21</p>
        <p>Friesland</p>
      </li>
    </a>
    <a href="profile">
      <li>
        <p>John</p>
        <p>27</p>
        <p>Gelderland</p>
      </li>
    </a>
  </ul>


  <%- include('../partials/footer.ejs') %>
