<%- include('../partials/header.ejs') %>

<main>
  <p>You will be randomly paired up with someone within your preferred age and gender.</p>
  <a href="/meet"><button>back</button></a>
  <a href="/chat/<%= results %>"><button>continue</button></a>
</main>

<%- include('../partials/footer.ejs') %>
