<%- include('../partials/header.ejs') %>

  <p>Je wordt met een willekeurig persoon gekoppeld, dat binnen jouw gekozen leeftijd en geslacht valt.</p>
  <a href="meet">terug</a>
  <a href="riddle">doorgaan</a>

<%- include('../partials/footer.ejs') %>
