<%- include('../partials/header.ejs') %>

  <p>You will be randomly paired up with someone within your preffered age and gender.</p>
  <a href="meet">back</a>
  <a href="riddle">continue</a>

<%- include('../partials/footer.ejs') %>
