<%- include('../partials/header.ejs') %>

  <header>
    <a href="">bewerk</a>
    <img src="http://lorempixel.com/400/200/people/" alt="">
    <a href=""><button>verander foto</button></a>
  </header>

  <main>
    <ul>
      <li>Naam: Smithy</li>
      <li>Geslacht: Man</li>
      <li>Geinteresseert in: Vrouwen</li>
      <li>Leeftijd: 27</li>
    </ul>
    <form action="">

      <label for="">Locatie:</label>
      <input type="text">

      <label for="">Over Jezelf:</label>
      <input type="text" placeholder="Verteld wat over jezelf zodat anderen wat over je weten - max 200 karakters">

    </form>

  <a href="../login"><button>loguit</button></a>

<%- include('../partials/footer.ejs') %>
