<%- include('../partials/header.ejs') %>
    <ul>
      <a href="mychats">
        <li><b>chat</b></li>
      </a>
      <a href="contacts">
        <li>contacts</li>
      </a>
    </ul>

    <section>
      <a href="chat">
        <%# <img src="http://lorempixel.com/150/150/people/" alt="">%>
        <h3>Jackson</h3>
        <span>13:54</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="mychats_menu">menu</a>
    </section>

    <section>
      <a href="chat">
        <%# <img src="http://lorempixel.com/150/150/people/" alt="">%>
        <h3>Ricky</h3>
        <span>2 dagen geleden</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="mychats_menu">menu</a>
    </section>

    <section>
      <a href="chat">
        <%# <img src="http://lorempixel.com/150/150/people/" alt="">%>
        <h3>Sammy</h3>
        <span>1+ maand geleden</span>
        <p>Hey hoe gaat ie?</p>
      </a>
      <a href="mychats_menu">menu</a>
    </section>

    <ul>
      <a href="profiel.html">
        <li>bekijk profiel</li>
      </a>
      <a href="profiel.html">
        <li>gebruiker melden</li>
      </a>
      <a href="chat_delete.html">
        <li>chat verwijderen</li>
      </a>
    </ul>


<%- include('../partials/footer.ejs') %>
