<%- include('../partials/header.ejs') %>

  <header>
    <a href="meet.html">terug</a>
    <%# <img src="http://lorempixel.com/400/200/people/" alt="">%>
    <p>Sorry, de foto is pas zichtbaar als jullie elkaar hebben toegevoegd aan jullie contactenlijst.</p>
  </header>
  <section>
    <h3>Samantha</h3>
    <p>21</p>
    <p>Arizona</p>
    <p>Zoekt een man/vrouw</p>
  </section>
  <p>
    Bla bla tekst over Samantha enzo je weet wel, dat soort dingen.
  </p>
  <a href="riddle"><button>chat verzoek sturen</button></a>

<%- include('../partials/footer.ejs') %>
