<%- include('../partials/header.ejs') %>

  <h3>Jeremy</h3>
  <a href="riddle_game"<button>to riddle</button></a>

  <!-- the chat from the riddle room -->
  <ul>
    <li>jij zegt eens wat</li>
    <li>zij zegt ook wat terug</li>
    <li>je zegt nog eens wat</li>
    <li>En nu zeg je hallo ken je dat</li>
  </ul>

  <form action="">
    <input type="text" placeholder="type hier wat in om wat te zeggen">
    <input type="submit">
  </form>

<%- include('../partials/footer.ejs') %>
