<%- include('../partials/header.ejs') %>

  <h3>Jeremy</h3>
  <a href="riddle"<button>to chat</button></a>

  <section>
    <ul>
      <li>Dit is de soort van terminal</li>
      <li>eerder waar de output uitkomt</li>
      <li>van wat jullie in de input veld hieronder verzenden</li>
      <li>om zo progress te kunnen zien en uiteindelijk te ontsnappen</li>
    </ul>
  </section>

  <!-- the chat from the riddle game room -->
  <section>
    <ul>
      <li>iets om een hitn te krijgen</li>
      <li>nog eens wat maar geen idee wat</li>
      <li>tja we zien wel</li>
    </ul>
  </section>

  <form action="">
    <input type="text" placeholder="type hier wat in om wat te zeggen">
    <input type="submit">
  </form>

<%- include('../partials/footer.ejs') %>
