/*----------- variables & mixins -----------*/
/*----------- fonts -----------*/
/*=============================================>>>>>
= General =
===============================================>>>>>*/
main {
  height: 86vh;
  overflow-y: auto;
  padding: 0 1rem; }
  main::-webkit-scrollbar {
    display: none; }

button, input[type="submit"] {
  padding: 0.4rem;
  border-radius: 2px;
  border: 2px solid #FF9800;
  background-color: #fff;
  color: #FF9800;
  font-size: 100%; }

header, form {
  padding: .5rem 1rem; }

header,
nav ul,
nav li,
.meetUsers,
.profilePic,
.menu,
.contentList > ul,
.contentList li {
  display: flex; }

/*=============================================>>>>>
= Header =
===============================================>>>>>*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  max-height: 8rem;
  background-color: #FF9800; }
  header h2 {
    color: #fff; }
  header button {
    max-height: 2.5rem;
    width: 8rem;
    color: #FF9800; }
  header a {
    color: #fff; }

/*=============================================>>>>>
= Footer / Nav =
===============================================>>>>>*/
nav {
  width: 100%; }
  nav:last-of-type {
    position: fixed;
    bottom: 0; }
  nav ul {
    justify-content: space-around; }
  nav li {
    flex: 1 0 calc(100%/4);
    justify-content: center;
    align-items: center;
    height: 7vh;
    max-height: 8rem;
    background: #FF9800;
    border-bottom: 4px solid #FF9800;
    transition: all .3s; }
    nav li a {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: #fff; }
    nav li:hover {
      background: #fff; }
      nav li:hover a {
        color: #FF9800; }

.location {
  background: #fff; }
  .location a {
    color: #FF9800; }

/*=============================================>>>>>
= Home, forms =
===============================================>>>>>*/
form input:not([type="file"]):not([type="submit"]) {
  height: 2rem;
  padding: 0 .5rem;
  box-shadow: none;
  border: 1px solid #757575;
  border-radius: 2px; }
  form input:not([type="file"]):not([type="submit"]):not(:last-child) {
    margin-bottom: 1rem; }
form input:focus {
  outline: none; }

.home {
  max-width: 25rem;
  margin: auto;
  text-align: center; }
  .home form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around; }
  .home fieldset {
    border: none; }
    .home fieldset input, .home fieldset button {
      width: 100%; }
  .home a {
    color: #FF9800; }

/*=============================================>>>>>
= Components =
===============================================>>>>>*/
.meetUsers {
  flex-flow: row wrap; }
  .meetUsers li {
    height: 6rem;
    width: 50%; }
  .meetUsers a {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    padding: .2rem 1rem;
    border: .2px solid black; }
  .meetUsers p {
    display: inline-block; }
    .meetUsers p:last-child {
      margin-top: 0.2rem;
      width: 100%; }

.profilePic {
  height: 40vh;
  max-height: 25rem;
  justify-content: center;
  align-items: center;
  margin: 0 -1rem;
  margin-bottom: 1rem;
  padding: initial;
  overflow: hidden;
  border-bottom: 1px solid #000; }
  .profilePic p {
    width: 50%;
    color: #757575;
    text-align: center; }
  .profilePic img {
    max-height: 25rem;
    max-width: auto; }

.userInfo h2 {
  display: inline-block; }
.userInfo p:nth-of-type(2n+1) {
  display: inline-block; }
.userInfo p:nth-last-of-type(2) {
  margin-bottom: 1rem; }
.userInfo h3 {
  border-top: 1px solid #000; }

.contentList > ul {
  flex-direction: column;
  margin-top: 1rem; }
.contentList li {
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem; }
  .contentList li > a {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
.contentList p {
  display: inline-block; }
  .contentList p:last-of-type {
    width: 100%; }

.menu {
  align-self: flex-end;
  justify-content: center; }
  .menu a,
  .menu button {
    max-width: 30rem;
    width: 100%; }
  .menu a {
    margin: 1rem 0; }

.hide {
  display: none; }

/*# sourceMappingURL=main.css.map */
