<%- include('../partials/header.ejs') %>

  <header>
    <a href="/mychats">back</a>
    <h3> <%= results[id-1].name %> </h3>
  </header>

  <ul>
    <li>jij zegt eens wat</li>
    <li>zij zegt ook wat terug</li>
    <li>je zegt nog eens wat</li>
    <li>En nu zeg je hallo ken je dat</li>
  </ul>

  <form action="">
    <input type="text" placeholder="type hier wat in om wat te zeggen">
    <input type="submit">
  </form>

<%- include('../partials/footer.ejs') %>
