<%- include('../partials/header.ejs') %>
<nav>
  <ul>
    <li>
      <a href="mychats">chat</a>
    </li>
    <li class="location">
      <a href="contacts"><b>contacts</b></a>
    </li>
  </ul>
</nav>
<%# loop through all contacts of the user %>

  <section class="contacts">
    <ul>
      <% results.forEach(function(results) { %>
        <% if (results.name === myName) { %>
          <% return; %>
        <% } %>
        <li>
          <a href="profile/<%= results.userID %>">
            <p> <b><%= results.name %></b> </p>
          </a>
          <a href="/contacts/menu"><button> menu </button></a>
        </li>
      <% }) %>


    </ul>
  </section>


<%- include('../partials/footer.ejs') %>
