<%- include('../partials/header.ejs') %>
  <nav>
    <ul>
      <li>
        <a href="mychats"><b>chat</b></a>
      </li>
      <li>
        <a href="contacts">contacts</a>
      </li>
    </ul>
  </nav>

    <%# loop through all active chats of the user %>
    <section class="contacts">
      <ul>
        <% results.forEach(function(results) { %>
          <li>
            <a href="chat/<%= results.id %>">
              <p> <b><%= results.name %></b> </p>
              <p> last message time </p>
              <p> last message preview </p>
              <a href="/mychats/menu">
                <button> menu </button>
              </a>
            </a>
          </li>


        <% }) %>
      </ul>
    </section>


<%- include('../partials/footer.ejs') %>
