<%- include('../partials/header.ejs') %>


    <form action="/" method="">
      <!-- first fieldset basic info -->
      <fieldset>
        <legend>Schrijf je in</legend>

        <p>Ik ben een</p>
        <label for="ben_m">man</label>
        <input id=ben_m type="radio" name="ben_een" >
        <label for="ben_v">vrouw</label>
        <input id=ben_v type="radio" name="ben_een">

        <p>en zoek een</p>
        <label for="zoek_m">man</label>
        <input id=zoek_m type="checkbox" name="zoek_een">
        <span>en/of</span>
        <label for="zoek_v">vrouw</label>
        <input id=zoek_v type="checkbox" name="zoek_een">

        <p>tussen de: x - x </p>
        <label for="">minimaal(18)</label>
        <input type="number" min="18" max="100" >
        <label for="">maximaal(100)</label>
        <input type="number" min="18" max="100" >
        <!-- <input type="range"> -->

        <label for="reg_mail">email</label>
        <input id="reg_mail" type="email" placeholder="Je email" >
        <label for="reg_pass">wachtwoord</label>
        <input id="reg_pass" type="password" placeholder="Je wachtwoord" >
        <label for="reg_pass">wachtwoord herhalen</label>
        <input id="reg_pass" type="password" placeholder="Je wachtwoord" >

      </fieldset>

      <!-- fieldset two profile info -->
      <fieldset>
        <legend>Vul je profiel aan</legend>

        <label for="naam">Naam</label>
        <input id="naam" type="text" placeholder="b.v. Jan Smit" >
        <label for="leeftijd">Leeftijd</label>
        <input id="leeftijd" type="number" min="18" max="100" >
        <label for="locatie">Locatie (optionel)</label>
        <input id="locatie" type="text" placeholder="Provincie of woonplaats">
        <label for="about">Over jezelf</label>
        <input id="about" type="text" placeholder="Vertel iets over jezelf">


      </fieldset>
      <input type="submit">
      <a href="inloggen.html"><button type="button">terug</button></a>
    </form>




<%- include('../partials/footer.ejs') %>
